NUXT_DATABASE_HOST=localhost
NUXT_DATABASE_PORT=5432
NUXT_DATABASE_NAME=main
NUXT_DATABASE_USER=admin
NUXT_DATABASE_PASSWORD=
NUXT_SESSION_PASSWORD=
NUXT_S3_ENDPOINT=http://localhost:9000
NUXT_S3_REGION=us-east-1
NUXT_S3_BUCKET=images
NUXT_S3_ACCESS_KEY_ID=
NUXT_S3_SECRET_ACCESS_KEY=